body {
    background-color: black;
    color: white;
    font-family: Verdana, sans-serif;
    text-align: center;
}

.link {
    color: aquamarine;
}

.header__heading {
    font-size: 50px;
    font-weight: normal;
}

.header__link {
    font-size: 16px;
}

.main {
    margin-top: 2rem;
}

.main__heading1 {
    font-weight: 300;
    font-size: 42px;
}

.main__paragraph {
    font-size: 21px;
    color: gray;
}

.main__icon {
    display: block;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.main__heading2 {
    margin-bottom: 2rem;
}

.footer {
    margin-top: 1rem;
}

.footer__paragraph {
    color: gray;
    text-align: right;
}